<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1049177098513-6fmefd62ei0l2n29tc695db481p3i7c8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049177098513-6fmefd62ei0l2n29tc695db481p3i7c8</string>
	<key>API_KEY</key>
	<string>AIzaSyAiFjVGRMTMfGrMAw-es3xIR6fNo0-QBck</string>
	<key>GCM_SENDER_ID</key>
	<string>1049177098513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>self.edu.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-59d1f</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-59d1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049177098513:ios:5dce647f8e40be25</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-59d1f.firebaseio.com</string>
</dict>
</plist>